---
# tasks file for Docker install

- name: Install python3-pip
  ansible.builtin.apt:
    name:
      - python3-pip
    state: present
    update_cache: true

- name: Install docker docker-compose python package
  ansible.builtin.pip:
    name:
      - docker
      - docker-compose

- name: Install Docker
  ansible.builtin.apt:
    name:
      - docker.io
    state: present

- name: Ensure that Docker service is started
  ansible.builtin.systemd:
    name: docker
    state: started
